In [1]:
from datetime import datetime
import pandas as pd

df = pd.read_csv("./yago_uniques.csv")
df.head()

,subject,predicate,object,timestamp
0,<!!!>,<created>,<Louden_Up_Now>,0001-01-01 00:00:00.000000
1,<!PAUS3>,<hasGender>,<male>,0001-01-01 00:00:00.000000
2,<!PAUS3>,<hasMusicalRole>,<wordnet_bass_104986796>,0001-01-01 00:00:00.000000
3,<!PAUS3>,<hasWebsite>,<http//www.paus3.com>,0001-01-01 00:00:00.000000
4,<!PAUS3>,<isCitizenOf>,<Ukraine>,0001-01-01 00:00:00.000000

In [11]:
df.sort_values(by=['subject', 'predicate'], inplace=True)
df.head()

,subject,predicate,object,timestamp
0,<!!!>,<created>,<Louden_Up_Now>,0001-01-01 00:00:00.000000
1,<!PAUS3>,<hasGender>,<male>,0001-01-01 00:00:00.000000
2,<!PAUS3>,<hasMusicalRole>,<wordnet_bass_104986796>,0001-01-01 00:00:00.000000
3,<!PAUS3>,<hasWebsite>,<http//www.paus3.com>,0001-01-01 00:00:00.000000
4,<!PAUS3>,<isCitizenOf>,<Ukraine>,0001-01-01 00:00:00.000000

In [12]:
df.head(30)

,subject,predicate,object,timestamp
0,<!!!>,<created>,<Louden_Up_Now>,0001-01-01 00:00:00.000000
1,<!PAUS3>,<hasGender>,<male>,0001-01-01 00:00:00.000000
2,<!PAUS3>,<hasMusicalRole>,<wordnet_bass_104986796>,0001-01-01 00:00:00.000000
3,<!PAUS3>,<hasWebsite>,<http//www.paus3.com>,0001-01-01 00:00:00.000000
4,<!PAUS3>,<isCitizenOf>,<Ukraine>,0001-01-01 00:00:00.000000
5,<!PAUS3>,<wasBornIn>,<Philadelphia>,0001-01-01 00:00:00.000000
6,<!T.O.O.H.!>,<created>,<Řád_a_trest>,0001-01-01 00:00:00.000000
7,<!T.O.O.H.!>,<hasGender>,<male>,0001-01-01 00:00:00.000000
8,<!T.O.O.H.!>,<hasWebsite>,<http//www.facebook.com/pages/tooh-info-pages/...,0001-01-01 00:00:00.000000
9,<!T.O.O.H.!>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
10,<(George)_Clyde_Fisher>,<graduatedFrom>,<Johns_Hopkins_University>,0001-01-01 00:00:00.000000
11,<(George)_Clyde_Fisher>,<hasGender>,<male>,0001-01-01 00:00:00.000000
12,<(George)_Clyde_Fisher>,<isCitizenOf>,<United_States>,0001-01-01 00:00:00.000000
13,<(George)_Clyde_Fisher>,<isMarriedTo>,<Te_Ata_Fisher>,0001-01-01 00:00:00.000000
14,<(George)_Clyde_Fisher>,<wasBornIn>,"<Sidney,_Ohio>",0001-01-01 00:00:00.000000
15,<(ISC)²>,<hasWebsite>,<http//www.isc2.org/>,0001-01-01 00:00:00.000000
16,<(Jo)Style>,<hasGender>,<male>,0001-01-01 00:00:00.000000
17,<(Jo)Style>,<isCitizenOf>,<Japan>,0001-01-01 00:00:00.000000
18,<(Le)_Poisson_Rouge>,<hasWebsite>,<http//www.lprnyc.com/>,0001-01-01 00:00:00.000000
19,<(Mary)_Terri_De_la_Peña>,<hasGender>,<female>,0001-01-01 00:00:00.000000
20,<(Mary)_Terri_De_la_Peña>,<isCitizenOf>,<Mexico>,0001-01-01 00:00:00.000000
21,<(We_Are)_Nexus>,<hasGender>,<female>,0001-01-01 00:00:00.000000
22,<(We_Are)_Nexus>,<isCitizenOf>,<United_States>,0001-01-01 00:00:00.000000
23,<*shels>,<created>,<Laurentian-s_Atoll>,0001-01-01 00:00:00.000000
24,<*shels>,<hasWebsite>,<http//www.myspace.com/shels>,0001-01-01 00:00:00.000000
25,<+/-_(band)>,<created>,<Pulled_Punches>,0001-01-01 00:00:00.000000
26,<+/-_(band)>,<hasGender>,<male>,0001-01-01 00:00:00.000000
27,<+/-_(band)>,<hasWebsite>,<http//www.plusmin.us/>,0001-01-01 00:00:00.000000
28,<+1_Music>,<hasWebsite>,<http//www.plusonemusic.net>,0001-01-01 00:00:00.000000
29,<+1_Music>,<isCitizenOf>,<United_States>,0001-01-01 00:00:00.000000

In [16]:
print(len(df))
print(len(df)/3)

10207584
3402528.0

In [15]:
num_partitions = 3

# Calculate the number of rows per partition
rows_per_partition = len(df) // num_partitions

# Partition the DataFrame and export to CSV files
for i in range(num_partitions):
    # Calculate the start and end indices for the current partition
    start_idx = i * rows_per_partition
    end_idx = (i + 1) * rows_per_partition if i < (num_partitions - 1) else len(df)
    
    # Slice the DataFrame to extract rows within the current partition range
    partition_df = df.iloc[start_idx:end_idx]
    
    # Export the partition DataFrame to a CSV file
    partition_df.to_csv(f'partition_{i + 1}.csv', index=False)

    # Optionally, you can display the partition DataFrame
    print(f"DataFrame for partition {i + 1}:")
    print(len(partition_df))

DataFrame for partition 1:
3402528
DataFrame for partition 2:
3402528
DataFrame for partition 3:
3402528

In [19]:
del df
del partition_df

In [20]:
for i in range(num_partitions):
    if i < num_partitions-1:
        df_partitioni = pd.read_csv(f'./partition_{i + 1}.csv')
        df_partitioniplus1 = pd.read_csv(f'./partition_{i + 2}.csv')
    else:
        df_partitioni = pd.read_csv(f'./partition_{i + 1}.csv')
        df_partitioniplus1 = pd.read_csv(f'./partition_{(i + 2)%3}.csv')


    concatenated_df = pd.concat([df_partitioni, df_partitioniplus1])
    concatenated_df['timestamp'] = datetime.min.strftime("%Y-%m-%d %H:%M:%S.%f")
    concatenated_df.to_csv(f'node_sharded_yagodataset{i + 1}.csv', index=False)

    # Optionally, you can display the partition DataFrame
    print(f"DataFrame for node {i + 1}:")
    print(len(concatenated_df))

DataFrame for node 1:
6805056
DataFrame for node 2:
6805056
DataFrame for node 3:
6805056

In [2]:
import pandas as pd
df3 = pd.read_csv('node_sharded_yagodataset3.csv')

df2 = pd.read_csv('node_sharded_yagodataset2.csv')

df3.tail(20)

,subject,predicate,object,timestamp
6805036,<Jaroslav_Veselý>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
6805037,<Jaroslav_Veselý>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
6805038,<Jaroslav_Veselý>,<wasBornIn>,<Plzeň>,0001-01-01 00:00:00.000000
6805039,<Jaroslav_Vlach>,<hasFamilyName>,<Vlach>,0001-01-01 00:00:00.000000
6805040,<Jaroslav_Vlach>,<hasGender>,<male>,0001-01-01 00:00:00.000000
6805041,<Jaroslav_Vlach>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
6805042,<Jaroslav_Vlach>,<isAffiliatedTo>,<HC_Bílí_Tygři_Liberec>,0001-01-01 00:00:00.000000
6805043,<Jaroslav_Vlach>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
6805044,<Jaroslav_Vlach>,<wasBornIn>,<Paběnice>,0001-01-01 00:00:00.000000
6805045,<Jaroslav_Vojta>,<actedIn>,<The_Comedian-s_Princess>,0001-01-01 00:00:00.000000
6805046,<Jaroslav_Vojta>,<diedIn>,<Prague>,0001-01-01 00:00:00.000000
6805047,<Jaroslav_Vojta>,<hasFamilyName>,<Vojta>,0001-01-01 00:00:00.000000
6805048,<Jaroslav_Vojta>,<hasGender>,<male>,0001-01-01 00:00:00.000000
6805049,<Jaroslav_Vojta>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
6805050,<Jaroslav_Vojta>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
6805051,<Jaroslav_Vojta>,<wasBornIn>,<Kutná_Hora>,0001-01-01 00:00:00.000000
6805052,<Jaroslav_Volak>,<hasFamilyName>,<Volak>,0001-01-01 00:00:00.000000
6805053,<Jaroslav_Volak>,<hasGender>,<male>,0001-01-01 00:00:00.000000
6805054,<Jaroslav_Volak>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
6805055,<Jaroslav_Volak>,<isCitizenOf>,<Austria>,0001-01-01 00:00:00.000000

In [3]:
df3.tail(10)

,subject,predicate,object,timestamp
6805046,<Jaroslav_Vojta>,<diedIn>,<Prague>,0001-01-01 00:00:00.000000
6805047,<Jaroslav_Vojta>,<hasFamilyName>,<Vojta>,0001-01-01 00:00:00.000000
6805048,<Jaroslav_Vojta>,<hasGender>,<male>,0001-01-01 00:00:00.000000
6805049,<Jaroslav_Vojta>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
6805050,<Jaroslav_Vojta>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
6805051,<Jaroslav_Vojta>,<wasBornIn>,<Kutná_Hora>,0001-01-01 00:00:00.000000
6805052,<Jaroslav_Volak>,<hasFamilyName>,<Volak>,0001-01-01 00:00:00.000000
6805053,<Jaroslav_Volak>,<hasGender>,<male>,0001-01-01 00:00:00.000000
6805054,<Jaroslav_Volak>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
6805055,<Jaroslav_Volak>,<isCitizenOf>,<Austria>,0001-01-01 00:00:00.000000

In [4]:
df2.head(20)

,subject,predicate,object,timestamp
0,<Jaroslav_Volek>,<hasFamilyName>,<Volek>,0001-01-01 00:00:00.000000
1,<Jaroslav_Volek>,<hasGender>,<male>,0001-01-01 00:00:00.000000
2,<Jaroslav_Volek>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
3,<Jaroslav_Volek>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
4,<Jaroslav_Volf>,<hasFamilyName>,<Volf>,0001-01-01 00:00:00.000000
5,<Jaroslav_Volf>,<hasGender>,<male>,0001-01-01 00:00:00.000000
6,<Jaroslav_Volf>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
7,<Jaroslav_Volf>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
8,<Jaroslav_Volf>,<wasBornIn>,<Brandýs_nad_Labem-Stará_Boleslav>,0001-01-01 00:00:00.000000
9,<Jaroslav_Votruba>,<hasFamilyName>,<Votruba>,0001-01-01 00:00:00.000000
10,<Jaroslav_Votruba>,<hasGender>,<male>,0001-01-01 00:00:00.000000
11,<Jaroslav_Votruba>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
12,<Jaroslav_Votruba>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
13,<Jaroslav_Votruba>,<wasBornIn>,<Plzeň>,0001-01-01 00:00:00.000000
14,<Jaroslav_Vrchlický>,<diedIn>,<Domažlice>,0001-01-01 00:00:00.000000
15,<Jaroslav_Vrchlický>,<hasFamilyName>,<Vrchlický>,0001-01-01 00:00:00.000000
16,<Jaroslav_Vrchlický>,<hasGender>,<male>,0001-01-01 00:00:00.000000
17,<Jaroslav_Vrchlický>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
18,<Jaroslav_Vrchlický>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
19,<Jaroslav_Vrchlický>,<wasBornIn>,<Louny>,0001-01-01 00:00:00.000000

In [14]:
# del df3
# del df2

df3 = pd.read_csv('partition_3.csv')

df2 = pd.read_csv('partition_2.csv')

df3.head(20)

,subject,predicate,object,timestamp
0,<Steve_Pickell>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
1,<Steve_Pickell>,<isCitizenOf>,<United_States>,0001-01-01 00:00:00.000000
2,<Steve_Pickell>,<wasBornIn>,<Vancouver>,0001-01-01 00:00:00.000000
3,<Steve_Pickersgill>,<hasFamilyName>,<Pickersgill>,0001-01-01 00:00:00.000000
4,<Steve_Pickersgill>,<hasGender>,<male>,0001-01-01 00:00:00.000000
5,<Steve_Pickersgill>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
6,<Steve_Pickersgill>,<isAffiliatedTo>,<Warrington_Wolves>,0001-01-01 00:00:00.000000
7,<Steve_Pickersgill>,<isCitizenOf>,<England>,0001-01-01 00:00:00.000000
8,<Steve_Pickersgill>,<wasBornIn>,<Warrington>,0001-01-01 00:00:00.000000
9,<Steve_Pickett>,<hasFamilyName>,<Pickett>,0001-01-01 00:00:00.000000
10,<Steve_Pickett>,<hasGender>,<male>,0001-01-01 00:00:00.000000
11,<Steve_Pickett>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
12,<Steve_Pickett>,<isCitizenOf>,<United_States>,0001-01-01 00:00:00.000000
13,<Steve_Pickton>,<hasFamilyName>,<Pickton>,0001-01-01 00:00:00.000000
14,<Steve_Pickton>,<hasGender>,<male>,0001-01-01 00:00:00.000000
15,<Steve_Pickton>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
16,<Steve_Pickton>,<isCitizenOf>,<England>,0001-01-01 00:00:00.000000
17,<Steve_Piearce>,<hasFamilyName>,<Piearce>,0001-01-01 00:00:00.000000
18,<Steve_Piearce>,<hasGender>,<male>,0001-01-01 00:00:00.000000
19,<Steve_Piearce>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000

In [15]:
df3.tail(5)

,subject,predicate,object,timestamp
3402523,<“Cousin_Vinny”_Agnello>,<hasGender>,<male>,0001-01-01 00:00:00.000000
3402524,<“Cousin_Vinny”_Agnello>,<isCitizenOf>,<United_States>,0001-01-01 00:00:00.000000
3402525,<₩uNo>,<hasGender>,<male>,0001-01-01 00:00:00.000000
3402526,<₩uNo>,<isCitizenOf>,<South_Korea>,0001-01-01 00:00:00.000000
3402527,<₩uNo>,<wasBornIn>,<Mapo_District>,0001-01-01 00:00:00.000000

In [16]:
df2.tail(20)

,subject,predicate,object,timestamp
3402508,"<Steve_Phillips_(footballer,_born_1978)>",<wasBornIn>,"<Bath,_Somerset>",0001-01-01 00:00:00.000000
3402509,<Steve_Phillips_(musician)>,<created>,<Just_Pickin->,0001-01-01 00:00:00.000000
3402510,<Steve_Phillips_(musician)>,<hasFamilyName>,<Phillips>,0001-01-01 00:00:00.000000
3402511,<Steve_Phillips_(musician)>,<hasGender>,<male>,0001-01-01 00:00:00.000000
3402512,<Steve_Phillips_(musician)>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
3402513,<Steve_Phillips_(musician)>,<isCitizenOf>,<England>,0001-01-01 00:00:00.000000
3402514,<Steve_Phipps>,<hasFamilyName>,<Phipps>,0001-01-01 00:00:00.000000
3402515,<Steve_Phipps>,<hasGender>,<male>,0001-01-01 00:00:00.000000
3402516,<Steve_Phipps>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
3402517,<Steve_Phoenix>,<hasFamilyName>,<Phoenix>,0001-01-01 00:00:00.000000
3402518,<Steve_Phoenix>,<hasGender>,<male>,0001-01-01 00:00:00.000000
3402519,<Steve_Phoenix>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
3402520,<Steve_Phoenix>,<wasBornIn>,"<Phoenix,_Arizona>",0001-01-01 00:00:00.000000
3402521,<Steve_Physioc>,<hasFamilyName>,<Physioc>,0001-01-01 00:00:00.000000
3402522,<Steve_Physioc>,<hasGender>,<female>,0001-01-01 00:00:00.000000
3402523,<Steve_Physioc>,<hasGivenName>,<Steve>,0001-01-01 00:00:00.000000
3402524,<Steve_Physioc>,<isCitizenOf>,<United_States>,0001-01-01 00:00:00.000000
3402525,<Steve_Physioc>,<wasBornIn>,"<Summit,_New_Jersey>",0001-01-01 00:00:00.000000
3402526,<Steve_Pickell>,<hasFamilyName>,<Pickell>,0001-01-01 00:00:00.000000
3402527,<Steve_Pickell>,<hasGender>,<male>,0001-01-01 00:00:00.000000

In [17]:
df2.head(15)

,subject,predicate,object,timestamp
0,<Jaroslav_Volek>,<hasFamilyName>,<Volek>,0001-01-01 00:00:00.000000
1,<Jaroslav_Volek>,<hasGender>,<male>,0001-01-01 00:00:00.000000
2,<Jaroslav_Volek>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
3,<Jaroslav_Volek>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
4,<Jaroslav_Volf>,<hasFamilyName>,<Volf>,0001-01-01 00:00:00.000000
5,<Jaroslav_Volf>,<hasGender>,<male>,0001-01-01 00:00:00.000000
6,<Jaroslav_Volf>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
7,<Jaroslav_Volf>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
8,<Jaroslav_Volf>,<wasBornIn>,<Brandýs_nad_Labem-Stará_Boleslav>,0001-01-01 00:00:00.000000
9,<Jaroslav_Votruba>,<hasFamilyName>,<Votruba>,0001-01-01 00:00:00.000000
10,<Jaroslav_Votruba>,<hasGender>,<male>,0001-01-01 00:00:00.000000
11,<Jaroslav_Votruba>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
12,<Jaroslav_Votruba>,<isCitizenOf>,<Czech_Republic>,0001-01-01 00:00:00.000000
13,<Jaroslav_Votruba>,<wasBornIn>,<Plzeň>,0001-01-01 00:00:00.000000
14,<Jaroslav_Vrchlický>,<diedIn>,<Domažlice>,0001-01-01 00:00:00.000000

In [9]:
del df3
del df2

df1 = pd.read_csv('partition_1.csv')
df1.head(5)

,subject,predicate,object,timestamp
0,<!!!>,<created>,<Louden_Up_Now>,0001-01-01 00:00:00.000000
1,<!PAUS3>,<hasGender>,<male>,0001-01-01 00:00:00.000000
2,<!PAUS3>,<hasMusicalRole>,<wordnet_bass_104986796>,0001-01-01 00:00:00.000000
3,<!PAUS3>,<hasWebsite>,<http//www.paus3.com>,0001-01-01 00:00:00.000000
4,<!PAUS3>,<isCitizenOf>,<Ukraine>,0001-01-01 00:00:00.000000

In [10]:
df1.tail(5)

,subject,predicate,object,timestamp
3402523,<Jaroslav_Vojta>,<wasBornIn>,<Kutná_Hora>,0001-01-01 00:00:00.000000
3402524,<Jaroslav_Volak>,<hasFamilyName>,<Volak>,0001-01-01 00:00:00.000000
3402525,<Jaroslav_Volak>,<hasGender>,<male>,0001-01-01 00:00:00.000000
3402526,<Jaroslav_Volak>,<hasGivenName>,<Jaroslav>,0001-01-01 00:00:00.000000
3402527,<Jaroslav_Volak>,<isCitizenOf>,<Austria>,0001-01-01 00:00:00.000000

# JUNK CODE

In [4]:
# subjects_list = df['subject'].unique().tolist()
# subjects_list.sort(reverse=False)

# print(len(subjects_list))

2409778

In [5]:
# sorted_list = subjects_list
# # Calculate the size of each partition
# partition_size = len(sorted_list) // 3

# # Partition the sorted list into three parts
# partition_1 = sorted_list[:partition_size]
# partition_2 = sorted_list[partition_size:2 * partition_size]
# partition_3 = sorted_list[2 * partition_size:]

In [9]:
# # Create empty DataFrames for each partition
# df_partition_1 = pd.DataFrame(columns=df.columns)
# df_partition_2 = pd.DataFrame(columns=df.columns)
# df_partition_3 = pd.DataFrame(columns=df.columns)

# # Move rows to corresponding DataFrames based on partitions
# for subject in partition_1:
#     df_partition_1 = pd.concat([df_partition_1, df[df['subject'] == subject]])
# print('done 1')

# for subject in partition_2:
#     df_partition_2 = pd.concat([df_partition_2, df[df['subject'] == subject]])
# print('done 2')

# for subject in partition_3:
#     df_partition_3 = pd.concat([df_partition_3, df[df['subject'] == subject]])
# print('done 3')

# # Reset index for each DataFrame
# df_partition_1.reset_index(drop=True, inplace=True)
# df_partition_2.reset_index(drop=True, inplace=True)
# df_partition_3.reset_index(drop=True, inplace=True)

KeyboardInterrupt:

In [10]:
# del df_partition_1
# del df_partition_2
# del df_partition_3

In [17]:
del partition_df
del partition_1 
del partition_2
del partition_3
del sorted_list
del subjects_list